html {
    padding: 1px;
}

body {
    margin: 0;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-spacing: 0;
}

textarea {
    --margin: 0rem;
    margin: var(--margin);
    width: calc(100% - 2 * var(--margin));
    display: blocK;
    box-sizing: border-box;
    resize: none;
    background: Yellow;
}

table {
    font-family: 'Inconsolata', monospace;
    font-size: smaller;
    background-color: #111;
    border: 1px solid black;
}

div {
    font-family: monospace;
    text-align: right;
    color: Gray;
    font-size: smaller;
}

th {
    background: Gray;
    color: gainsboro;
    font-weight: normal;
    font-size: smaller;
    padding: .2rem;
}

td {
    font-size: smaller;
    color: white;
}

tbody tr td:first-child {
    width: 12.6rem;
}

tbody tr td:last-child {
    color: green;
}

.comment {
    color: Green;
}

.type {
    color: #0cc;
}

.keyword {
    color: #47d;
}

.symbol {
    color: Magenta;
}

.result {
    color: yellow;
    font-size: smaller;
    font-family: sans-serif;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}